{% extends "_layout.html" %} {% block ExtContent %}
<h1>Stores</h1>

<table class="table">
  <!-- table header -->
  <tr>
    <th>Store Name</th>
    <th>Number of Warehouses</th>
    <th></th>
  </tr>

  <!-- table content -->
  {% for store in stores %}
  <tr>
    <td>
      <a href="{{url_for('store_show', id=store.store_id)}}">{{store.name}}</a>
    </td>
    <td>{{store.count}}</td>
    <td>
      <!-- Button trigger modal pop-up -->
      <button
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#selectedStore-{{store.store_id}}"
      >
        Delete
      </button>

      <!-- Modal pop-up -->
      <div
        class="modal fade"
        id="selectedStore-{{store.store_id}}"
        role="dialog"
        aria-labelledby="selectedStoreLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="selectedStoreLabel">Heads up!</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                This will delete all of the warehouses and the products under
                this store. Proceed ?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>

              <form
                action="{{url_for('store_delete', id=store.store_id)}}"
                method="POST"
              >
                <button type="submit" class="btn btn-danger">
                  Proceed
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
