{% extends "_layout.html" %} {% block ExtContent %}
<h1>Warehouses</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Warehouse location</th>
      <th scope="col">Number of products</th>
      <th scope="col">Name of Store</th>
    </tr>
  </thead>
  <tbody>
    {% for warehouse in warehouses %}
    <tr>
      <td>
        <a href="{{url_for('warehouse_show', id=warehouse.warehouse_id)}}"
          >{{warehouse.location}}</a
        >
      </td>
      <td>{{warehouse.count}}</td>
      <td>{{warehouse.store.name}}</td>

      <td>
        <!-- Button trigger modal pop-up -->
        <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#selectedWh-{{warehouse.warehouse_id}}"
        >
          Delete
        </button>

        <!-- Modal pop-up -->
        <div
          class="modal fade"
          id="selectedWh-{{warehouse.warehouse_id}}"
          role="dialog"
          aria-labelledby="selectedWhLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="selectedWhLabel">
                  Heads up!
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  This will delete all of the products under this warehouse.
                  Proceed ?
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>

                <form
                  action="{{url_for('warehouse_delete', id=warehouse.warehouse_id)}}"
                  method="POST"
                >
                  <button type="submit" class="btn btn-danger">
                    Proceed
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
